.footer-banner
  ._demo--container.footer-container
    .footer-title Next Up: Build your own app
    .footer-tagline Use TensorFlow and OpenWhisk to get started.
    a.base--a.bottom-links(href='http://heidloff.net/article/visual-recognition-for-cozmo-with-tensorflow', target='_blank') Documentation
    a.base--a.bottom-links(href='https://codelabs.developers.google.com/codelabs/tensorflow-for-poets', target='_blank') TensorFlow    
    a.base--a.bottom-links(href='https://www.ibm.com/cloud/functions', target='_blank') OpenWhisk
